
.nome_produto{
    text-align: center;
    font-weight: bold;
}
.btn-sacola{
    background-color: rgb(210, 192, 135);
    
}
.outros_produtos{
    text-align: center;
}
.maisprodutos{
    border: 1px;
    border-color: rgb(216, 185, 90);
    border-style: double;
}
.img_produtos{
    margin-top: 40px;
}
.imagem_1{
   
    border: 0,5px;
    border-color: black;
    border-style: double;
    margin-bottom: 35px;
}

