*{
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Raleway';
}
ul, li{
  letter-spacing: 1px;
  padding: 20px;
  
 
}

.form-control, .btn{
  font-size: 15px;
  color:black
  
}
.navbar-brand{
  margin-left: 10px;
}

img{
  background-position: center;
  background-size: cover;
}

/*Cartões*/

.card{
margin-top: 150px;
margin-left: 20px;
display: inline-block;
font-family: 'Times New Roman', Times, serif;
}

.pbr{
  text-align:center ;
 }
 .icon{
  width: 3%;}

  .logo{
    width: 85px;
  }
 p{
  font-size: small;
}