*{
  padding: 0;
  margin: 0;
}
body{
font-family: 'Raleway';
}


ul, li{
  letter-spacing: 1px;
  padding: 20px;
 
}

.form-control, .btn{
  font-size: 15px;
  color:black
 
}
.navbar-brand{
  margin-left: 10px;
}

img{
  background-position: center;
  background-size: cover;
}
.navegacao{
background-color:rgb(225, 225, 225);
height: 100px;
}

.joia{
margin-right: 70px;
color:  rgb(181, 162, 113);
font-size: 15px;
text-decoration: none;
}

.carrossel{
width: 70%;
margin: auto;
}

.logo{
width: 85px;
}

.home{
font-size: 15px;
margin-left: 800px;
}

.nv{
margin-top: 100px;
margin-bottom: 60px;
}
h3{
text-transform: uppercase;
color:black ;
text-align: center;
margin-bottom: 20px;
margin-top: 30px;

}
.sobre_emiarah{
text-align: center;
margin-top: 100px;
color: black;
}

/*Cartões*/

.card{
margin-top: 50px;
margin-left: 40px;
display: inline-block;
font-family: 'Times New Roman', Times, serif;
}

.pbr{
text-align:center ;
}
.icon{
width: 3%;}
.row{
padding-left: 100px;
padding-right: 200px;
}

/*Footer*/
#footer{
text-align: center;
margin-top: 80px;
}
#footer_col{
padding-left: 300px;
padding-right: 300px;
margin-bottom: 30px;
}

h5{
font-size: 15px;
color: black;
text-transform: uppercase;
margin-bottom: 20px;
}
p{
font-size: small;
}

.logo{
  width: 85px;
}
p{
font-size: small;
}

/*Filtro*/
.filtro{
  text-align: center;
  margin-top: 100px;
}